p{
    margin-bottom: 0;
    font-family: arial;
}
.mail{
    color:gray;
    margin-bottom: 5px;
    font-size: 8px;
}
.box{
    border-color: gray;
    border-width: 1px;
    border-radius: 3px;
    width: 200px;
    border-style: solid;
    margin-bottom: 5px;
}
.terms{
    color:gray;
    font-size: 8px;
    margin-bottom: 5px;
}
.join{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color:white;
    background-color: rgb(5, 109, 228);
    font-size: 12px;
    border:none;
    border-radius: 16px;
    width:200px;
}